<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Bienvenido a mi sitio web, soy Desarrolladora Frontend y estudiante de Comercio Internacional, prestadora de servicios de maquetado y estilado de tu próxima pagina web en un corto plazo">
    <meta name="keywords" content="desarrollo frontend, maquetado, sitio web, HTML, CSS, javascript, saas, git, github, react">
    <!--Styles-->
    <link rel="stylesheet" href="../css/styles.css">
    <!--link google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&;display=swap" rel="stylesheet" preload="">
    <!--link para iconos-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&;display=swap" rel="stylesheet" preload="">
    <!--link de font awesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <!--link de favicon-->
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <title>coming_soon</title>
    <link rel="icon" href="../img/coming_soon.ico">
</head>
<body class="body_coming">
    <main class="main_coming" >
        <h1>coming soon</h1>
        <figure>
            <img src="../img/fondo_coming.svg" alt="imagen de un cohete">
        </figure>
        <div class="box_link">
            <a href="../index.html">back to home</a>
        </div>
    </main>
</body>
</html>